@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@600;700;800;900&family=Syne+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arvo', serif;
}

:root {
  --background-color: #030910;
}

body {
  position: relative;
  background-color: var(--background-color);
}

.viduo-box {
  display: block;
  position: absolute;
  top: 0;
  z-index: -5;

}

.viduo-box video {
  width: 100%;
  height: 100%;

}

.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  display: none;
  font-family: 'Arvo', serif;
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 900;
  color: rgb(103, 71, 31);
  font-size: 58px;
  line-height: 63px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ffb504 0%, #caba93 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px rgb(3, 3, 3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.856), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.landing p {
  display: none;
  max-width: 350px;
  font-size: 20px;
  text-align: center;
  /* background: linear-gradient(180deg, #ffb504 0%, #caba93 100%); */
  color: goldenrod;

  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.856), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing img {
  max-width: 600px;
}

@media screen and (max-width: 768px) {
  .welcome {
    display: block;
  }

  .landing p {
    display: block;
    background: rgba(0, 0, 0, 0.363);
  }

  .span {
    margin-top: 10px ;
    font-size: 25px;
    display: block;
  }

  .landing {
    background-image: url(./img/bg.png);
    background-size: 100%;
    align-items: center;
    justify-content: start;
    padding-top: 147px;
    gap: 25px;

  }

  .landing img {
    display: none;
    max-width: 350px;

  }

  .viduo-box {
    display: none;
  }

}


.landing button {
  width: 200px;
  font-size: 25px;
}

/*! design button  */
button {
  font-family: 'Marcellus SC', serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px 15px;
  background: #1e2328;
  color: #cdbe91;
  box-shadow: inset 0 0 2px #000000;
  border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
  border-image-slice: 1;
  border-width: 2px;
}

button:hover {
  text-shadow: 0 0 5px #ffffff80;
  box-shadow: 0 0 8px 0 #ffffff50;
  background: linear-gradient(to bottom, #1e2328, #433d2b);
  cursor: pointer;
  transition: 0.1s;
}

button:active {
  text-shadow: none;
  box-shadow: none;
  color: #cdbe9130;
}

/*! slider style  */